body {

  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  border: 0;
  padding: 0;
  
}

.svg-inline--fa {
  color: rgb(184, 184, 184);
  transition: 0.5s;
}

.svg-inline--fa.fa-school:hover ,
.svg-inline--fa.fa-bars:hover {
  color: black;
}
.svg-inline--fa.fa-bars {
  cursor: pointer;
}
